@import "tailwindcss";

.recharts-area path {
  filter: drop-shadow(0 0 6px currentColor);
}

html,
body {
 width: 100%;
 background: #000;
 background-position: 0 0;
 background-repeat: repeat;
 background-size: cover;
 font-family: 'Inter', sans-serif;
 background-blend-mode: multiply;
}
.slide{
    animation: slide 0.2s ease-in  ;
}
.slide2{
    animation: slide2 1.2s ease-out backwards  ;
}

@keyframes slide {
    0%{
        width: 0px;
    }
    100%{
        width: 200px;
    }
}
@keyframes slide2 {
    0%{
        width: 220px;
    }
    100%{
        width: 0px;
    }
}